.text-uppercase{

    text-transform: uppercase;
}

.button{
    color: rgb(255, 255, 255);
    background-color: rgb(106, 224, 37);
    padding: 8px 20px;
    border-radius: 30px;
    display: inline-block;
    margin-right: 30px;

}

a{
    text-decoration: none;
}
input{
    margin-top: 10px;
}
.mybg{
    
    background-color: rgb(150, 162, 153);
}

.my-circle {
    border-radius: 100%;
    width: 100px;
    height: 100px;
    margin: auto;

}